---
const pageTitle = "About Me";

const identity = {
  firstName: "Baskin",
  country: "United States",
  occupation: "Content Creator",
  hobbies: ["music", "roleplay", "scripting/coding", "gaming"],
};

const skills = ["HTML", "CSS", "Astro", "Music"];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog">Blog</a>

		<h1>{pageTitle}</h1>
        <h2>Welcome to my Website!</h2>

        <p>Welcome to my Website, this site is Built with 💖 using <a href="https://astro.build">Astro</a>. my name is Baskin and I am a streamer and content creator who also dabbles in all things development whether that be scripting in video games or learning general programming.</p>

        <p>I am currently working through Astro's introductory tutorial. This is the second page on my website.</p>

		<p>Here are some facts about me:</p>

		<ul>
			<li>My name is {identity.firstName}.</li>
			<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
			<li>Some of my other hobbies include:</li>
			<ul>
				{identity.hobbies.map((hobby) => <li>{hobby}</li>)}
			</ul>
		</ul>
		<p>My skills are:</p>
		<ul>
			{skills.map((skill) => <li>{skill}</li>)}
		</ul>

		{happy && <p>I am happy to be learning Astro!</p>}

		{finished && <p>I finished this tutorial!</p>}

		{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not to finish in 3 days.</p>}
	</body>
</html>